.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchinput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchicon{
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}
.header__navbar_links{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header_navbar_link1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_navbar_link1_lin1{
    font-size: 10px;
}
.header_navbar_link1_lin2{
    font-size: 13px;
    font-weight: 800;
}
.headernav__basket{
    display: flex;
    align-items: center;
}
.basket_count{
    margin-left: 10px;
    margin-right: 10px;

}